@import 'libs/bootstrap-reboot.min';
@import 'libs/iconfont';

@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';
@import 'base/fonts';

* {
    box-sizing: border-box;
    @include regular;
    color: $main-color;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}


@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/about';
@import 'blocks/modal';
@import 'blocks/lang';
@import 'blocks/media';

