.about {
    height: 200px;
    background-color: #fff;
    position: relative;
    &__modal {
        position: absolute;
        z-index: 1;
        top: 50%;
    }
}

.company-info {
    width: 786px;
    height: 362px;
    border-radius: 20px;
    background-color: $action-color;
    padding: 60px 70px 129px 56px;
    &__title {
        font-size: 28px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
        margin-bottom: 46px;
    }
    &__discr {
        display: flex;
    }
    &__subtitle {
        flex-basis: 45%;
        font-size: 40px;
        font-weight: 700;
        line-height: 36px;
        margin-right: 15px;
        text-align: end;
    }
    &__info {
        flex-basis: 60%;
    }
    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 23px;
    }
    &__line {
        height: 1px;
        background-color: #ffffff;
    }
}