.button {
    width: 380px;
    height: 82px;
    box-shadow: 0 0 59px 6px rgba(61, 108, 251, 0.59);
    border-radius: 40px;
    background-color: $action-color;
    outline: none;
    text-align: center;
    border: none;
    @include black;
    font-size: 14px;
    text-transform: uppercase;
    &-form {
        background-color: $main-color;
        width: 250px;
        color: $action-color;
    }
}