
.overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .56)
}

.modal {
    padding: 38px 38px 40px 38px;
    min-height: 400px;
    background-color: $action-color;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__subtitle {
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        line-height: 18px;
        margin-bottom: 9px;
    }
    &__descr {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 25px;
    }
    &__close {
        position: absolute;
        font-size: 43px;
        line-height: 20px;
        right: -40px;
        top: 0;
        color: $main-color;
        cursor: pointer;
    }
   
    &__social {
        margin-top: 70px;
    }
    &__checkbox { 
        position: relative;
        img {
            width: 50px;
            height: 50px;
            opacity: 0;
            position: absolute;
            top: -220%;
            left: 0;
            transition: 0.5s all;
        }
        input:checked+img{
            opacity: 1;
        }
    }
}

.feed-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            input {
                color: #000;
                margin-bottom: 15px;
            }
}