.promo {
    background: #171717 url(../img/bgcmain.png) center center/cover no-repeat;
    background-position: 0% 33%;
    min-height: 895px;
    &__title {
        margin-top: 238px;
        margin-bottom: 0;
        font-size: 100px;
        font-weight: 400;
        line-height: 80px;
        @include black;
        text-align: center;
    }
    &__button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 73px;
    }
}

